BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: Never

ColumnLimit: 256

PointerAlignment: Left

BreakBeforeBraces: Custom

BraceWrapping:
  BeforeElse: true
  
IndentCaseLabels: true

AllowShortIfStatementsOnASingleLine: true

Cpp11BracedListStyle: false