# build
/build/
/out/
/.vs/
out/
/PrismatiXEngine/build

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# vcpkg
installed/
vcpkg_installed/

# user files
*.user
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.vs